{% assign repo_og_image = 'https://opengraph.githubassets.com/1/' | append: include.repository %}

<div class="repo p-2 text-center">
  <a href="https://github.com/{{ include.repository }}">
    <img
      class="repo-img-light w-100"
      alt="{{ include.repository }}"
      src="{{ repo_og_image }}"
    >
    <img
      class="repo-img-dark w-100"
      alt="{{ include.repository }}"
      src="{{ repo_og_image }}"
    >
  </a>
</div>
